// Global
$body-font-stack: "Lato", sans-serif;
$section-margin: 4rem;
$section-margin-mobile: 2rem;

$gutter-width: 1rem;

$default-transition-timing: 0.3s;
$default-delay-timing: 0.2s;

// Colours
$black: #000;
$white: #fff;
$razzmatazz: #db0a5b;
$blue-ribbon: #0d6efd;
$athens-gray: #f8f9fa;

// Breakpoint sizes
$min-width: 320px;
$max-width: 1440px;
$min-font: 14px;
$max-font: 16px;
