.btn {
  background-color: $white;
  border: 1px solid $black;
  color: $black;
  cursor: pointer;
  display: inline-block;
  font-family: $body-font-stack;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  padding: 16px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;

  &::after {
    @include absolute-center(absolute);
    background-color: black;
    content: '';
    height: calc(100% + 2px);
    opacity: .3;
    width: calc(100% + 2px);
    transform: translate(-50%, -50%) scaleX(0);
    transform-origin: 0 0;
    transition: transform $default-transition-timing;
  }

  &:hover::after {
    transform: translate(-50%, -50%) scaleX(1);
  }

  &--blue {
    background-color: $blue-ribbon;
    border-color: $blue-ribbon;
    color: $white;

    &:hover {

    }
  }

  &--grey {
    background-color: $athens-gray;
    border-color: $athens-gray;
  }
}

.btn-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;

  > * {
    margin-left: 12px;
    margin-top: 12px;
  }

  &--align-items-center {
    align-items: center;
  }

  &--center {
    justify-content: center;
  }

  &--start {
    justify-content: flex-start;
  }

  &--end {
    justify-content: flex-end;
  }

  &--space-between {
    justify-content: space-between;
  }
}

.btn-link {
  @include link-style();
}
